body {
    font-family: 'Arial', serif;
    font-size: 18px;
}

#container {
    margin: 30px auto;
    width: 450px;
    border: 1px solid #ccc;
}

#top-ui {
    margin-left: 20px;
    border-bottom: none;
}

h1 {
    padding-top: 20px;
    font-size: 32px;
}

#item-field {
    margin: 20px 0;
    width: 330px;
}

li {
    padding: 5px 20px;
}

ul {
    margin-bottom: 20px;
}

#items > li:hover {
    background-color: #ccc;
}

.item, .item-btn {
    cursor: pointer;
}

.strikethrough {
    text-decoration: line-through;
}

.item-btn {
    float: right;
}
